html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	height: 500%;
	font-size: 100%;
}

body {
	margin: 0;
    background-size: 100% 100%;
    background-color: white;
}

@media (min-width: 1px) { 
	.text { font-size: 1rem; }
	.highlight { font-size: 1.2rem; }
	.scroll-div { 	
		padding: 6px 6px 6px 10px;
		margin-top: 15px;
		border-width: 1px;
	}
	.scroll-div i { 
		font-size: 0.5rem;
		padding-right: 8px;
	 }
	#arrow {
		padding-right: 4px;
		width: 0.3rem;
		height: 0.5rem;
	}
	.flex-nav {
		/* mobile nav */
		overflow: hidden;
	}
	.link-wrap {
		/* mobile nav */
		position: relative;
		padding-top: 3rem;
		font-size: 0.8rem;
	}
	.link-wrap div{
		/* mobile nav */
		float: none;
		display: block;
		padding-bottom: 8px;
		margin: 0 15px;
	}
	.icon {
		/* mobile nav */
		position: absolute;
		display: block;
		float: right;
		left: 0;
		top: 0;
	}
	#about {
		padding-top: 1rem;
	}	
	.about-wrapper {
		margin-top: 4rem;
	}
	.about-wrapper p {
		margin: 0 10%;
		font-size: 1rem;
	}
	.about-title {
		font-size: 2rem;
	}
	#title-line {
		margin: 10px 0;
		width: 8rem;
		height: 0.12rem;
	}
	.profile img {
		margin-top: 2rem;
		margin-bottom: 1rem;
		width: 12rem;
		height: 12rem;
	}
	.quali-wrapper {
		flex-direction: column;
	}
	.quali-title {
		font-size: 2rem;
	}
	#quali-line {
		width: 13rem;
		height: 0.12rem;
	}
	.skill-wrapper {
		flex-direction: column;
		padding-top: 3rem;
	}
	.edu-wrapper {
		flex-direction: column;
		text-align: center;
		padding-bottom: 3rem;
		margin-right: 0;
		margin-left: 0;
	}
	.edu-wrapper img{
		width: 12rem;
		height: 12rem;
		margin-right: 0;
	}
	#edu-content {
		margin-bottom: 2rem;
	}
	#edu1 {
		font-size: 2rem;
	}
	#edu2 {
		padding-bottom: 1rem;
		font-size: 1.3rem;
		font-weight: bold;
	}
	#edu3 {
		font-size: 1rem;
	}
	.skillbar {
		margin-right: 0;
	}
	.bar {
		width: 20rem;
	}
	.proj-title {
		font-size: 2rem;
	}
	#proj-line {
		width: 8rem;
		height: 0.12rem;
	}
} 
@media (min-width:479px) { 
	.text { font-size: 1.8rem; } 
	.highlight { font-size: 2rem; }
	.scroll-div { 
		padding: 8px 8px 8px 10px;
		margin-top: 20px;
		border-width: 2px;
	}
	.scroll-div i { 
		font-size: 0.7rem;
		padding-right: 10px;
	}
	#arrow {
		padding-right: 2px;
		width: 0.4rem;
		height: 0.7rem;
	}
	.flex-nav {
		/* big nav */
		display: flex;
		align-items: center;
		justify-content: left;
	}
	.link-wrap {
		/* big nav */
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 0.5rem;
		font-size: 0.8rem;
	}
	.link-wrap div {
		margin: 0 10px;
	}
	.icon {
		/* big nav */
		display: none;
	}
	#about {
		padding-top: 1rem;
	}	
	.about-wrapper {
		margin-top: 5.5rem;
	}
	.about-wrapper p {
		margin: 0 10%;
		font-size: 1rem;
	}
	.about-title {
		font-size: 2.5rem;
	}
	#title-line {
		margin: 10px 0;
		width: 8.5rem;
		height: 0.15rem;
	}
	.profile img {
		margin-top: 2rem;
		margin-bottom: 2rem;
		width: 16rem;
		height: 16rem;
	}
	.quali-wrapper {
		flex-direction: column;
	}
	.quali-title {
		font-size: 2.5rem;
	}
	#quali-line {
		width: 16rem;
		height: 0.15rem;
	}
	.skill-wrapper {
		flex-direction: column;
		padding-top: 3rem;
	}
	.edu-wrapper {
		flex-direction: column;
		text-align: center;
		padding-bottom: 3rem;
		margin-right: 0;
		margin-left: 0;
	}
	.edu-wrapper img{
		width: 14rem;
		height: 14rem;
		margin-right: 0;
	}
	#edu-content {
		margin-bottom: 2rem;
	}
	#edu1 {
		font-size: 2rem;
	}
	#edu2 {
		padding-bottom: 1rem;
		font-size: 1.3rem;
		font-weight: bold;
	}
	#edu3 {
		font-size: 1rem;
	}
	.skillbar {
		margin-right: 0;
	}
	.bar {
		width: 26rem;
	}
	.proj-title {
		font-size: 2.5rem;
	}
	#proj-line {
		width: 11rem;
		height: 0.15rem;
	}
} 
@media (min-width:1008px) { 
	.text { font-size: 2.8rem; }
	.highlight { font-size: 3rem; }
	.scroll-div { 
		padding: 8px 8px 8px 10px;
		margin-top: 20px;
		border-width: 2px;
	}
	.scroll-div i { 
		font-size: 1rem;
		padding-right: 10px;
	}
	#arrow {
		padding-right: 4px;
		width: 0.5rem;
		height: 1rem;
	}
	.flex-nav {
		/* big nav */
		display: flex;
		align-items: center;
		justify-content: left;
	}
	.link-wrap {
		/* big nav */
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 0.5rem;
		font-size: 1rem;
	}
	.link-wrap div {
		margin: 0 15px;
	}
	.icon {
		/* big nav */
		display: none;
	}
	#about {
		padding-top: 1rem;
	}	
	.about-wrapper {
		margin-top: 7rem;
	}
	.about-wrapper p {
		margin: 0 20%;
		font-size: 1.4rem;
	}
	.about-title {
		font-size: 3rem;
	}
	#title-line {
		margin: 10px 0;
		width: 10rem;
		height: 0.2rem;
	}
	.profile img {
		margin-top: 2rem;
		margin-bottom: 2rem;
		width: 20rem;
		height: 20rem;
	}
	.quali-wrapper {
		flex-direction: column;
	}
	.quali-title {
		font-size: 3rem;
	}
	#quali-line {
		width: 18rem;
		height: 0.2rem;
	}
	.skill-wrapper {
		flex-direction: row;
		padding-top: 5rem;
	}
	.edu-wrapper {
		text-align: left;
		flex-direction: row;
		padding-bottom: 0;
		margin-right: 4em;
		margin-left: 1rem;
	}
	.edu-wrapper img{
		width: 14rem;
		height: 14rem;
		margin-right: 1rem;
	}
	#edu-content {
		margin-bottom: 2rem;
	}
	#edu1 {
		font-size: 2rem;
	}
	#edu2 {
		padding-bottom: 1rem;
		font-size: 1.3rem;
		font-weight: bold;
	}
	#edu3 {
		font-size: 1rem;
	}
	.skillbar {
		margin-right: 1rem;
	}
	.bar {
		width: 26rem;
	}
	.proj-title {
		font-size: 3rem;
	}
	#proj-line {
		width: 12rem;
		height: 0.2rem;
	}
 } 

div.home {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	margin: 5% 20%;
    animation-name: gradient;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
	overflow: hidden;
}

.home h1 {
    color: black;
    text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 5rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 

#canvas {
	border-bottom: 1px solid black;
	width: 100%;
	height: 100%;
	position: absolute;
}

#intro-wrap {
	position: relative;
	z-index: 2;
	height: 100vh;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text {
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif; 
	animation: slideUp 1s;
}

.highlight {
	color: #FF3F8E;
}
.scroll-div {
	display: flex;
	justify-content: center;
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif;
	border-style: solid;
	border-color: white;
	transition: background-color 1s, border-color 1s, size 1s;
	position: relative;
	animation: slideUp 1.5s;
}

.scroll-div:hover {
	background-color: #15d7d0;
	border-color: #15d7d0;
}

.flex-nav {
	background-color: #1b242f;
	height: 50px;
	border-bottom: #15d7d0 3px solid;
	transition: height 0.5s;
}

.link-wrap {
	color: white;
	font-family: 'Raleway', sans-serif;
}

.link-wrap div{
	transition: color 0.5s;
}

.icon img {
	width: 1.3rem;
	height: 1.3rem;
	padding-left: 15px;
	padding-top: 12px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	animation-name: slideIn;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	z-index: 99;
}

@keyframes slideIn {
	from {
		transform: translateY(-60px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(20%);
      } 
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
}

.about-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-wrapper p {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-align: center;
	color: #444649;
	transform: translateY(600px);
	opacity: 0;
	transition: transform 1.5s ease-out, opacity 2s ease-out;
}

.about-wrapper span {
	color: #FF3F8E;
}

.about-title {
	font-family: 'Raleway', sans-serif; 
	font-weight: bold;
	color: #444649;
	transform: translateX(-400px);
	opacity: 0;
	transition: transform 1s ease-out, opacity 1s;
}

#title-line {
	background-color: #444649;
	transform: translateX(-600px);
	opacity: 0;
	transition: transform 1s ease-out, opacity 1s;
}

.profile {
	transform: translateY(600px);
	opacity: 0;
	transition: transform 1.2s ease-out, opacity 2s ease-out;
}

 #quali {
	padding-top: 5rem;
}

.quali-wrapper {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f5f5f5;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.quali-title {
	font-family: 'Raleway', sans-serif; 
	font-weight: bold;
	color: #444649;
	transform: translateX(400px);
	opacity: 0;
	transition: transform 1s ease-out, opacity 1s;
}

#quali-line {
	background-color: #444649;
	transform: translateX(600px);
	opacity: 0;
	transition: transform 1s ease-out, opacity 1s;
	margin: 10px 0;
}

.skill-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f5f5f5;
}

.edu-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway', sans-serif; 
}

.edu-wrapper img{
	transform: translateX(-600px);
	opacity: 0;
	transition: transform 1s ease-out, opacity 1s;
}

#edu-content {
	transform: translateX(-400px);
	opacity: 0;
	transition: transform 1s ease-out, opacity 1s;
}

#edu1 {
	font-size: 2rem;
}

#edu2 {
	padding-bottom: 1rem;
	font-size: 1.3rem;
	font-weight: bold;
}

#edu3 {
	font-size: 1rem;
}

.skillbar {
	font-family: 'Raleway', sans-serif; 
	transform: translateX(600px);
	opacity: 0;
	transition: transform 1s ease-out, opacity 1s;
}

.bar {
	position: relative;
	height: 1.5rem;
	background-color: #e8e8e8;
	margin-bottom: 1.2rem;
}

.barfill {
	position: relative;
	left: 0;
	width: 0;
	height: 100%;
	background: #0e9691;
	transition: width 1s ease-out;
}

.tag {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	background-color: #12c1bb;
	font-weight: bold;
	color: white;
	height: 100%;
	font-size: 1rem;
	width: 26%;
	z-index: 2;
}

.bar span {
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 2px;
	padding-top: 2px;
	 
}

#portfolio {
	padding-top: 1rem;
}

.proj-wrapper {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5rem;
	padding-bottom: 5rem;

	flex-direction: column;
}

.proj-title {
	font-family: 'Raleway', sans-serif; 
	font-weight: bold;
	color: #444649;
	transform: translateX(-400px);
	opacity: 0;
	transition: transform 1s ease-out, opacity 1s;
}

#proj-line {
	background-color: #444649;
	transform: translateX(-600px);
	opacity: 0;
	transition: transform 1s ease-out, opacity 1s;
	margin-top: 10px;
	margin-bottom: 5rem;
}

.proj-table-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	
}

.r-1, .r-2 {
	transform: translateY(100px);
	opacity: 0;
	transition: transform 1.2s ease-out, opacity 2s ease-out;
}

.cell {
	position: relative;
	padding: 0;
	
	transform: scale(1);
	transition: transform 0.5s;
	margin: 1rem 0.5rem;
}

.cell:hover {
	transform: scale(1.05);
}

.cell a {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.full-width {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2px;
	display: flex;
	justify-content: center;
}

.sub {
	font-family: 'Raleway', sans-serif; 
	position: absolute;
	bottom: 5px;
	width: 100%;
	z-index: -1;
	font-weight: bolder;
	text-align: center;
	transition: transform 0.5s;
}

.sline {
	width: 0;
	height: 1px;
	background-color: #444649;
	transition: width 0.5s;
}

.a {
	width: 22rem;
	height: 19rem;
}
.a img {
	width: 100%;
	height: 85%;
}
.a .sub {
	font-size: 1.5rem;
	transform: translateY(-40px);
}

.b {
	width: 18rem;
	height: 19rem;
}
.b img {
	width: 75%;
	height: 85%;
}
.b .sub {
	font-size: 1.5rem;
	transform: translateY(-40px);
}

.c {
	width: 13rem;
	height: 19rem;
}
.c img {
	width: 100%;
	height: 85%;
}
.c .sub {
	font-size: 1.5rem;
	transform: translateY(-40px);
}

.d {
	width: 19rem;
	height: 19rem;
}
.d img {
	width: 100%;
	height: 85%;
}
.d .sub {
	font-size: 1.5rem;
	transform: translateY(-40px);
}

.e {
	width: 19rem;
	height: 19rem;
}
.e img {
	width: 100%;
	height: 85%;
}
.e .sub {
	font-size: 1.5rem;
	transform: translateY(-40px);
}

.f {
	width: 19rem;
	height: 19rem;
}
.f img {
	width: 100%;
	height: 85%;
}
.f .sub {
	font-size: 1.5rem;
	transform: translateY(-40px);
}

.learn-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #1b242f;
	border: 2px solid #15d7d0;
	position: relative;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	overflow: hidden;
	color: white;
	opacity: 0;
	transition: opacity 1.2s;
	margin-bottom: 2rem;
	width: 15rem;
	height: 3rem;
}


.highlight2 {
	color: #FF3F8E;
}

#arrowAnimL {
	height: 100%;
	position: absolute;
	left: 1rem;
}
#arrowAnimR {
	height: 100%;
	position: absolute;
	right: 2.2rem;
}

.arrow {
	width: 1rem;
	height: 1rem;
	border: 0.1rem solid;
	border-color: white transparent transparent white;
	transform: rotate(-135deg);
  }
  
  .arrowSliding {
	opacity: 0;
	position: absolute;
	animation: slide 4.5s linear infinite;
  }

  .delay1 {
	  animation-delay:1.5s;
  }
  .delay2 {
	  animation-delay: 3s;
  }

@keyframes slide {
    0% { opacity:0; transform: translateY(-0.7em); }	
   20% { opacity:1; transform: translateY(-0.2em); }	
   80% { opacity:1; transform: translateY(1.5em); }	
  100% { opacity:0; transform: translateY(2em); }	
}