html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	height: 500%;
	font-size: 100%;
}

body {
	margin: 0;
    background-size: 100% 100%;
    background-color: white;
}

@media (min-width: 1px) { 
	.text { font-size: 1rem; }
	.highlight { font-size: 1.2rem; }
	.scroll-div { 	
		padding: 6px 6px 6px 10px;
		margin-top: 15px;
		border-width: 1px;
	}
	.scroll-div i { 
		font-size: 0.5rem;
		padding-right: 8px;
	 }
	#arrow {
		padding-right: 4px;
		width: 0.3rem;
		height: 0.5rem;
	}
	.flex-nav {
		/* mobile nav */
		overflow: hidden;
	}
	.link-wrap {
		/* mobile nav */
		position: relative;
		padding-top: 3rem;
		font-size: 0.8rem;
	}
	.link-wrap div{
		/* mobile nav */
		float: none;
		display: block;
		padding-bottom: 8px;
		margin: 0 15px;
	}
	.icon {
		/* mobile nav */
		position: absolute;
		display: block;
		float: right;
		left: 0;
		top: 0;
	}
} 
@media (min-width:479px) { 
	.text { font-size: 1.8rem; } 
	.highlight { font-size: 2rem; }
	.scroll-div { 
		padding: 8px 8px 8px 10px;
		margin-top: 20px;
		border-width: 2px;
	}
	.scroll-div i { 
		font-size: 0.7rem;
		padding-right: 10px;
	}
	#arrow {
		padding-right: 2px;
		width: 0.4rem;
		height: 0.7rem;
	}
	.flex-nav {
		/* big nav */
		display: flex;
		align-items: center;
		justify-content: left;
	}
	.link-wrap {
		/* big nav */
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 0.5rem;
		font-size: 0.8rem;
	}
	.link-wrap div {
		margin: 0 10px;
	}
	.icon {
		/* big nav */
		display: none;
	}
} 
@media (min-width:1008px) { 
	.text { font-size: 2.8rem; }
	.highlight { font-size: 3rem; }
	.scroll-div { 
		padding: 8px 8px 8px 10px;
		margin-top: 20px;
		border-width: 2px;
	}
	.scroll-div i { 
		font-size: 1rem;
		padding-right: 10px;
	}
	#arrow {
		padding-right: 4px;
		width: 0.5rem;
		height: 1rem;
	}
	.flex-nav {
		/* big nav */
		display: flex;
		align-items: center;
		justify-content: left;
	}
	.link-wrap {
		/* big nav */
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 0.5rem;
		font-size: 1rem;
	}
	.link-wrap div {
		margin: 0 15px;
	}
	.icon {
		/* big nav */
		display: none;
	}
 } 

div.home {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	margin: 5% 20%;
    animation-name: gradient;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
	overflow: hidden;
}


.home h1 {
    color: black;
    text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 5rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 

#canvas {
	border-bottom: 1px solid black;
	width: 100%;
	height: 100%;
	position: absolute;
}

#intro-wrap {
	position: relative;
	z-index: 2;
	height: 100vh;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text {
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif; 
	animation: slideUp 1s;
}



.highlight {
	color: #FF3F8E;
}
.scroll-div {
	display: flex;
	justify-content: center;
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif;
	border-style: solid;
	border-color: white;
	transition: background-color 1s, border-color 1s, size 1s;
	position: relative;
	animation: slideUp 1.5s;
}

.scroll-div:hover {
	background-color: #15d7d0;
	border-color: #15d7d0;
}


/* https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
.flex-nav {
	background-color: #1b242f;
	height: 50px;
	border-bottom: #15d7d0 3px solid;
	transition: height 0.5s;
}


.link-wrap {
	color: white;
	font-family: 'Raleway', sans-serif;
}

.link-wrap div{
	transition: color 0.5s;
}

.icon img {
	width: 1.3rem;
	height: 1.3rem;
	padding-left: 15px;
	padding-top: 12px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	animation-name: slideIn;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
}

@keyframes slideIn {
	from {
		transform: translateY(-60px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(20%);
      } 
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
}

.about-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

.profile img {
	width: 5rem;
	height: 5rem;
}